
@import "components/variables.scss";
@import "components/fonts.scss";



* {
    transition: all 0.2s;
    a{
        text-decoration: none;
        color: #000;
        &:active,&:hover,&:focus,&:visited {
        color: #000;
    }
    }
}

html, body{
    padding: 0;
    margin: 0;
}

.wraper{
    margin: 20px;    
    margin-bottom: 0;
    font-family: roboto;
}


header{
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo{
        margin-right: 115px;
    }
    .search{
        display: flex;
        flex-direction: row;
        #img-ditection{
            height: 22px;
        }
        .search-location{
            width: 650px;
            margin: 0 10px;
            border: none;
        }

    }
    
    .right-icons{
        display: flex;
        align-items: center;

        .cricle-plus{
            border: 1px solid black;
            border-radius: 50%;
            height: 24px;
            width: 24px;
            text-align: center;
            display: flex;
            cursor: pointer;
    
            .plus{
                margin:auto;
            }
        }

        .bell{
            margin: 0 60px;
            >a{
                color: #000;
            }
        }

        .profile{


            .profile-pic{
                background-image: url(../resources/img/default-user.png);
                background-size: 40px 40px;
                border-radius: 50%;
                display: block;
                margin: -1px;
                overflow: hidden;
                position: relative;
                height: 40px;
                width: 40px;
            }
        }

    }

    
}


.content{
    display:flex;
    
    section{
        width: 500px;
        flex:1;
        display: flex;
        flex-direction: column;
        .main-items{
            display: flex;

            .menu-items{
                color: #73788c;
                padding: 16px 0;
                
                >div{
                    font-weight: bold;
                }
            }
        }
        .second-items{
            display: flex;
            margin: 10px 0;
            .menu-items{
                font-size: 13px;
                padding: 17px 0;
                margin-left: 30px; 
                color: #73788c;
                font-weight: bold;
                &:last-child{
                    margin-left: 0px;
                    margin-right: 30px;
                }
            }
        }
    }
    
    .menu-items{
        text-align: center;
        flex: 1;
               
    }

    aside{
        flex:2;
        #map{
            height: 100%;
        }
    }
}


.main_link_active{
    background-color:#0782c3;
    color:#fff !important;
}
.second_link_active{
    border-bottom: 4px solid #ef5350;
}


#eventsList{
    max-height: 70vh;
    overflow-y: auto;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #e1e2f0;
}


.dev-info{
    margin: 12px;
    .info-header{
        .title{
            width: 300px;
            color: #454a64;
        }
        .info{
            display: flex;
            justify-content: space-between;
        }

        .main-info{
            width: 300px;
            font-size: 12px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            
            .main-info-row{
                display: flex;
                align-items: center;
                width: 100%;
                .info-block{
                    display: flex;
                    align-items: center;
                    width: 50%;
                }
            }
            .info-content{
                margin: 8px;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
                color: #7e83aa;
            }
            
            #dev-time{
                border: none;
                background-color: transparent;
            }
        }
        
        .info-img{
            margin-top:-35px;
            display: flex;
            align-items: center;
            flex-direction: column;

            img{
                height: 84px;
                width: 118px;
                margin-bottom: 1px;
                border-radius: 5px 5px 0 0;
            }
            div{
                width: 118px;
                height: 30px;
                border-radius: 0 0 5px 5px;
                background-color: #e25451;
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    text-align: center;
                    color: #fff;
                }
            }
        }
    }
}
.user{
    .user-info{
        display: flex;
        align-items: center;
        margin-top: 5px;
        img{
            height: 36px;
            border-radius:50%;
        }

        .user-name{
            margin: 0 10px;
            color: #7e83aa;
            font-weight: bold;
            font-size: 12px;
        }
    }
    .user-message{
        color: #61667b;
    }
}

footer{
    background-color: #f4f5fc;
    display: flex;
    >.footer-links{
        margin: 12px;
        color: #868baf;
        &:active{
            color: #fff;
        }
    }
}


.sreach-map{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    padding: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.576);
    transition: all 5s;

    >input{
        width: 200px;
        padding: 5px;
        box-sizing: border-box;

        &:focus{
        width:800px;
        }
    }
        .keyword{
            font-family: roboto;
            font-weight: bold;
            color: #fefefe;

        }

    .close{
        position: fixed;
        top: 50px;
        right: 100px;
        color: #ffffff;
        cursor: pointer;
    }
}

